<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Student</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body class="d-flex flex-column min-vh-100">

<!-- HEADER + NAVBAR -->
<header class="header-custom">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="#">
         <img th:src="@{/images/logo1.jpg}" width="80" height="80" class="me-2">
          TrackMyGrades
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link active" th:href="@{/home}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/login}">login</a></li>

         
          </ul>
          <span class="navbar-text text-white">TrackMyGrade App</span>
        </div>
      </div>
    </nav>

    <div class="text-center text-white py-3">


      <h1> TrackMyGrades</h1>
      <h2>Student Progress App</h2>
      <p>Learn • Track • Improve</p>
    
    </div>
</header>
<body class="bg-light">

<div class="container mt-5">

    <h2 class="text-center mb-4">Update Student Course Progress</h2>

    <div class="card shadow p-4"> 
        <form th:action="@{/admin/updateProgress}" method="post">

            <!-- Select Student -->
            <div class="mb-3">
                <label class="form-label">Student</label>
                <select name="studentId" class="form-select">
                    <option value="">--Choose Student--</option>
                    <option th:each="s : ${students}"
                            th:value="${s.studentId}"
                            th:text="${s.name}">
                    </option>
                </select>
            </div>

            <!-- Progress Input -->
            <div class="mb-3">
                <label class="form-label"> Course Progress (%)</label>
                <input type="number" name="progressValue" class="form-control" min="0" max="100" required>
            </div>

            <button class="btn btn-success">Save Progress</button>
        </form>

    </div>

    <div class="text-center mt-4">
        <a th:href="@{/admin/dashboard}" class="btn btn-secondary">Back to Dashboard</a>
    </div>

</div>


<!-- FOOTER -->
<footer class="footer mt-auto text-center py-4 footer-custom">
    <p><strong>Contact Us</strong></p>
    <p>123 Learning Street, Knowledge City</p>
    <p>Phone: +123 456 7890 | Email: info@studentprogress.com</p>

    
    <hr style="width: 60%; margin: 20px auto;">

    <p class="text-muted" style="font-size: 0.9rem;">
        © 2026 TrackMyGrades. All rights reserved.
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

